<h2 mat-dialog-title>Ajouter un ingrédient</h2>
<mat-dialog-content>
    <form>
        <app-input type="hidden" [controle]="form.controls['idPublic']" label="" />

        <div class="row">
            <div class="col-12">
                <app-input [controle]="form.controls['nom']" label="Nom" [maxLength]="200" />
            </div>

            <div class="col-12">
                <app-input [controle]="form.controls['codeInterne']" label="Code" [maxLength]="100" />
            </div>

            <div class="col-lg-6 col-xs-12">
                <app-input type="number" [controle]="form.controls['stock']" label="Stock" />
            </div>

            <div class="col-lg-6 col-xs-12">
                <app-input type="number" [controle]="form.controls['stockAlert']" label="Stock d'alerte" />
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Fermer</button>
  <button mat-flat-button (click)="Ajouter()">
    @if(btnClicker())
    {
        <mat-spinner class="spinnerBtn" diameter="30"></mat-spinner>
    }
    @else 
    {
        Ajouter
    }
</button>
</mat-dialog-actions>