<h2 mat-dialog-title>{{ labelBtn() }} un(e) employé(e)</h2>
<mat-dialog-content>
    <div class="row" style="margin-top: 10px;">
        
        <div class="col-12">
            <mat-checkbox class="example-margin" [formControl]="$any(form.controls['estAdmin'])">Est admin ?</mat-checkbox>
        </div>

        <div class="col-lg-6 col-xs-12">
            <app-input label="Nom" [maxLength]="200" [controle]="form.controls['nom']" />
        </div>

        <div class="col-lg-6 col-xs-12">
            <app-input label="Prenom" [maxLength]="200" [controle]="form.controls['prenom']" />
        </div>

        <div class="col-12">
            <app-input type="email" [maxLength]="300" label="Mail" [controle]="form.controls['mail']" />
        </div>

        <div class="col-12">
            <app-input type="phone" [maxLength]="20" label="Téléphone" [controle]="form.controls['telephone']" />
        </div>

        <div class="col-12">
            <app-input type="password" label="Mot de passe" [controle]="form.controls['mdp']" />
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Fermer</button>&nbsp;
    <app-button [label]="labelBtn()" (onClick)="Valider()" />
</mat-dialog-actions>
