@switch (style()) 
{
    @case ("flat") 
    {
        <button stop-propagation mat-flat-button [matTooltip]="toolTip()" (click)="Onclick()">
            @if(btnClicker())
            {
                <mat-spinner [diameter]="diametreSpinner()"
                             [class]="classSpinner()">
                </mat-spinner>
            }
            @else 
            {
                @if(icon())
                {
                    <mat-icon>{{ icon() }}</mat-icon>
                }

                {{ label() }}
            }
        </button>
    }
    @case ("raised") 
    {
        <button stop-propagation mat-raised-button  [matTooltip]="toolTip()"(click)="Onclick()">
            @if(btnClicker())
            {
                <mat-spinner [diameter]="diametreSpinner()"
                             [class]="classSpinner()">
                </mat-spinner>
            }
            @else 
            {
                @if(icon())
                {
                    <mat-icon>{{ icon() }}</mat-icon>
                }
                
                {{ label() }}
            }
        </button>
    }
    @case ("miniFab") 
    {
        <button stop-propagation mat-mini-fab [matTooltip]="toolTip()" (click)="Onclick()">
            @if(btnClicker())
            {
                <mat-spinner [diameter]="diametreSpinner()"
                             [class]="classSpinner()">
                </mat-spinner>
            }
            @else 
            {
                @if(icon())
                {
                    <mat-icon>{{ icon() }}</mat-icon>
                }
                
                {{ label() }}
            }
        </button>
    }
    @case ("basic") 
    {
        <button stop-propagation mat-button [matTooltip]="toolTip()" (click)="Onclick()">
            @if(btnClicker())
            {
                <mat-spinner [diameter]="diametreSpinner()"
                             [class]="classSpinner()">
                </mat-spinner>
            }
            @else 
            {
                @if(icon())
                {
                    <mat-icon>{{ icon() }}</mat-icon>
                }
                
                {{ label() }}
            }
        </button>
    }
    @case ("icon") 
    {
        <button stop-propagation mat-icon-button [matTooltip]="toolTip()" (click)="Onclick()">
            @if(btnClicker())
            {
                <mat-spinner [diameter]="diametreSpinner()"
                             [class]="classSpinner()">
                </mat-spinner>
            }
            @else 
            {
                @if(icon())
                {
                    <mat-icon>{{ icon() }}</mat-icon>
                }                
            }
        </button>
    }
}


