@switch (style()) 
{
    @case ("icon") 
    {
        <button stop-propagation 
                matIconButton
                [matTooltip]="toolTip()"
                (click)="Onclick()">
            @if(btnClicker())
            {
                <mat-spinner [diameter]="diametreSpinner()"
                                [class]="classSpinner()">
                </mat-spinner>
            }
            @else 
            {
                <mat-icon>{{ icon() }}</mat-icon>
            }
        </button>
    }
    @case("miniFab")
    {
        <button stop-propagation 
                matMiniFab
                [matTooltip]="toolTip()"
                (click)="Onclick()">
            @if(btnClicker())
            {
                <mat-spinner [diameter]="diametreSpinner()"
                                [class]="classSpinner()">
                </mat-spinner>
            }
            @else 
            {
                @if(icon())
                {
                    <mat-icon [style]="!label() && style() == 'icon' && style() == 'miniFab' ? 'margin: 0' : ''">
                        {{ icon() }}
                    </mat-icon>
                }   
                
                {{ label() }}
            }
        </button>
    }
    @default 
    {
        <button stop-propagation 
                [matButton]="$any(style())"
                [matTooltip]="toolTip()"
                [attr.aria-label]="ariaLabel() ?? label()"
                (click)="Onclick()">
                
            @if(btnClicker())
            {
                <mat-spinner [diameter]="diametreSpinner()"
                                [class]="classSpinner()">
                </mat-spinner>
            }
            @else 
            {
                @if(icon())
                {
                    <mat-icon [style]="!label() ? 'margin: 0' : ''">
                        {{ icon() }}
                    </mat-icon>
                }   
                
                {{ label() }}
            }
        </button>
    }
}