@switch (style()) 
{
    @case ("flat") 
    {
        <button stop-propagation mat-flat-button (click)="Onclick()">
            @if(btnClicker())
            {
                <mat-spinner [diameter]="diametreSpinner()"
                             [class]="classSpinner()">
                </mat-spinner>
            }
            @else 
            {
                @if(icon())
                {
                    <mat-icon>{{ icon() }}</mat-icon>
                }
                
                {{ label() }}
            }
        </button>
    }
    @case ("raised") 
    {
        <button stop-propagation mat-raised-button (click)="Onclick()">
            @if(btnClicker())
            {
                <mat-spinner [diameter]="diametreSpinner()"
                             [class]="classSpinner()">
                </mat-spinner>
            }
            @else 
            {
                @if(icon())
                {
                    <mat-icon>{{ icon() }}</mat-icon>
                }
                
                {{ label() }}
            }
        </button>
    }
    @case ("miniFab") 
    {
        <button stop-propagation mat-mini-fab (click)="Onclick()">
            @if(btnClicker())
            {
                <mat-spinner [diameter]="diametreSpinner()"
                             [class]="classSpinner()">
                </mat-spinner>
            }
            @else 
            {
                @if(icon())
                {
                    <mat-icon>{{ icon() }}</mat-icon>
                }
                
                {{ label() }}
            }
        </button>
    }
}


