<h2 mat-dialog-title>{{ labelBtn() }} un client</h2>
<mat-dialog-content>
    <form>
        <div class="row">
            <div class="col-12">
                <app-input [controle]="form.controls['nom']" label="Nom" [maxLength]="300" />
            </div>

            <div class="col-lg-6 col-xs-12">
                <app-input type="email" [controle]="form.controls['mail']" label="Mail" [maxLength]="250" />
            </div>

            <div class="col-lg-6 col-xs-12">
                <app-input type="tel" [controle]="form.controls['telephone']" label="Telephone" [maxLength]="20" />
            </div>

            <div class="col-12">
                <app-input [controle]="form.controls['adresse']" label="Adresse" [maxLength]="800" />
            </div>

            <div class="col-12">
                <p class="m-0"><b>Ne rien écrire si identique à l'adresse</b></p>
                <app-input [controle]="form.controls['adresseFacturation']" label="Adresse facturaction" [maxLength]="800" />
            </div>

            <div class="col-12">
                <app-textarea [controle]="form.controls['infoComplementaire']" label="Infos complementaires" [maxLength]="1000" />
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Fermer</button>

  <app-button (onClick)="Valider()" 
              [label]="labelBtn()" 
              [btnClicker]="btnClicker()"/>            
</mat-dialog-actions>