.calendrier-header
{
    display: flex;
}

.calendrier-body
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-rows: 1fr;
}

.jour-semaine
{
    background-color: var(--sys-primary);
    color: var(--sys-on-primary);
    font-size: 1.5em;
    cursor: default !important;
}

.element
{
    text-align: center;
    border: 1px solid black;
    height: 100px;
    cursor: pointer;
    
    &:hover:not(.jour-semaine)
    {
        background-color: lightgray;
    }
}