<h2 mat-dialog-title>Exporter les commandes</h2>
<mat-dialog-content style="padding-bottom: 20px">
    <div [formGroup]="form" class="row">

        <!-- format excel ? -->
        <div class="col-12 mp-2">
            <mat-checkbox aria-label="Format excel ?" 
                          formControlName="estFormatExcel">
                Format excel ?
            </mat-checkbox>
        </div>

        <!-- date de debut -->
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <mat-form-field>
                <mat-label>Date de début</mat-label>
                <input matInput 
                    [matDatepicker]="pickerDebut" 
                    formControlName="dateDebut">
                <mat-datepicker-toggle matIconSuffix [for]="pickerDebut"></mat-datepicker-toggle>
                <mat-datepicker #pickerDebut></mat-datepicker>
            </mat-form-field>
        </div>

        <!-- date de fin -->
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <mat-form-field>
                <mat-label>Date de fin</mat-label>
                <input matInput 
                    [matDatepicker]="pickerFin" 
                    formControlName="dateFin">
                <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
                <mat-datepicker #pickerFin></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button matButton="text" mat-dialog-close>Fermer</button>&nbsp;

    <app-button label="Exporter" [btnClicker]="btnClicker()" (onClick)="Exporter()" />
</mat-dialog-actions>