<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <mat-form-field>
                <mat-label>Date de début</mat-label>
                <input matInput 
                    [matDatepicker]="pickerDebut" 
                    [value]="dialogData.dateDebut">
                <mat-datepicker-toggle matIconSuffix [for]="pickerDebut"></mat-datepicker-toggle>
                <mat-datepicker #pickerDebut></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-xs-12">
            <mat-form-field>
                <mat-label>Date de fin</mat-label>
                <input matInput 
                    [matDatepicker]="pickerFin" 
                    [value]="dialogData.dateFin">
                <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
                <mat-datepicker #pickerFin></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Fermer</button>&nbsp;

    <app-button label="Valider" [btnClicker]="btnClicker()" (onClick)="Exporter()" />
</mat-dialog-actions>