.cardFooter
{
    @extend .padding;
    text-align: end;
    padding-top: 0;
}

.cardConnexion
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    max-width: 500px;
}

.padding
{
    padding: 16px;
}