.cardFooter
{
    @extend .padding;
    text-align: end;
    padding-top: 0;
}

.cardConnexion
{
    margin-left: 30%;
    margin-right: 30%;
}

.padding
{
    padding: 16px;
}

@media screen and (max-width: 768px)
{
    .cardConnexion
    {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-width: 426px)
{
    .cardConnexion
    {
        margin-left: 0;
        margin-right: 0;
    }
}