<h2 mat-dialog-title>Recette</h2>
<mat-dialog-content>

    <div style="text-align: center;">
        <button mat-flat-button (click)="OuvrirModal()">
            <mat-icon>add</mat-icon>
            Ajouter un ingrédient
        </button>
    </div>

    <table mat-table [dataSource]="dataSource()">
        
        <!-- nom ingredient Column -->
        <ng-container matColumnDef="nomIngredient">
            <th mat-header-cell *matHeaderCellDef> Ingredient </th>
            <td mat-cell *matCellDef="let element"> {{element.nomIngredient}} </td>
        </ng-container>
        
        <!-- quantite Column -->
        <ng-container matColumnDef="quantite">
            <th mat-header-cell *matHeaderCellDef> Quantité </th>
            <td mat-cell *matCellDef="let element"> {{element.quantite}} </td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">

                <app-button (onClick)="OuvrirModal(element)"
                            icon="edit"
                            [style]="'miniFab'"
                            [btnClicker]="false" />&nbsp;

                <app-button (onClick)="OuvrirModalConfirmation(element)"
                            icon="delete"
                            [style]="'miniFab'"
                            [btnClicker]="btnClicker()" />
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Fermer</button>
</mat-dialog-actions>