<h2 mat-dialog-title>Programmer livraisons</h2>
<mat-dialog-content style="padding-top: 10px;">

    <!-- autocomplete conducteur -->
    <mat-form-field>
        <mat-label>Conducteur</mat-label>
        <input type="text"
               placeholder="Conducteur"
               aria-label="Conducteur"
               matInput
               [formControl]="autoCompleteFormCtrl"
               [matAutocomplete]="auto">

        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (element of dataSourceClientFiltrer(); track element.idPublic) 
            {
                <mat-option [value]="element.nomComplet">{{ element.nomComplet }}</mat-option>
            }
        </mat-autocomplete>
        @if (autoCompleteFormCtrl.hasError("required")) 
        {
            <mat-error>Le conducteur est requis</mat-error>
        }
    </mat-form-field>

    <!-- select vehicule -->
    <mat-form-field style="margin-top: 10px;">
        <mat-label>Véhicule</mat-label>
        <mat-select [formControl]="vehiculeFormCtrl">
            @for (element of listeVehicule(); track element.idPublic) 
            {
                <mat-option [value]="element.idPublic">{{ element.nom }} ({{ element.immatriculation }})</mat-option>
            }
        </mat-select>
        @if (vehiculeFormCtrl.hasError("required")) 
        {
            <mat-error>Le vehicule est requis</mat-error>
        }
    </mat-form-field>

    <div class="row">
        <div class="col-lg-6 col-xs-12">
            <mat-form-field style="margin-top: 10px">
                <mat-label>Frais</mat-label>
                <input matInput value="0">
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-xs-12">
            <mat-form-field style="margin-top: 10px">
                <mat-label>Date de livraison</mat-label>
                <input matInput 
                       [matDatepicker]="picker" 
                       [value]="dialogData.date"
                       (dateChange)="ChangerDate($event)">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <!-- input date -->


    <hr>

    <p style="font-size: 1.1em;"><b>Commande à ajouter à la livraison</b></p>

    <div cdkDropListGroup>
        <div class="example-container">
            <h2>Commandes</h2>
        
            <div cdkDropList
                [cdkDropListData]="listeCommande()"
                class="example-list"
                (cdkDropListDropped)="Drop($event)">

                @for (element of listeCommande(); track element.numero) 
                {
                    <div class="example-box" cdkDrag>
                        <div class="test">
                            <p>
                                <b>N°</b> {{ element.numero }} <br>
                                <b>Adresse:</b> {{ element.client!.adresse }} <br>
                            </p>
    
                            <button mat-icon-button 
                                    stop-propagation
                                    (click)="listeProduit.style.display = listeProduit.style.display == 'block' ? 'none' : 'block'">
                                <mat-icon>info</mat-icon>
                            </button>
                        </div>

                        <div class="listeProduit" #listeProduit>
                            <p><b>Produit(s)</b></p>

                            <div class="row">
                                @for (element2 of element.listeProduit; track $index) 
                                {
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <p>- {{ element2.nom }} X{{ element2.quantite }}</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        
        <div class="example-container">
            <h2>Dans la livraison</h2>
        
            <div cdkDropList
                 [cdkDropListData]="listeCommandeLivraison()"
                 class="example-list"
                 (cdkDropListDropped)="Drop($event)">

                @for (element of listeCommandeLivraison(); track element.numero) 
                {
                    <div class="example-box" cdkDrag>
                        <div class="test">
                            <p>
                                <b>N°</b> {{ element.numero }} <br>
                                <b>Adresse:</b> {{ element.client!.adresse }} <br>
                                <b>Ordre de livraison:</b> {{ $index }}
                            </p>
    
                            <button mat-icon-button 
                                    stop-propagation
                                    (click)="listeProduit.style.display = listeProduit.style.display == 'block' ? 'none' : 'block'">
                                <mat-icon>info</mat-icon>
                            </button>
                        </div>

                        <div class="listeProduit" #listeProduit>
                            <p><b>Produit(s)</b></p>

                            <div class="row">
                                @for (element2 of element.listeProduit; track $index) 
                                {
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <p>- {{ element2.nom }} X{{ element2.quantite }}</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
      
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Fermer</button>
    <app-button [btnClicker]="btnClicker()" 
                label="Ajouter"
                (onClick)="Ajouter()" />
</mat-dialog-actions>