<mat-card appearance="outlined">
    <mat-card-header>
        <p style="margin-bottom: 5px;"><b>{{ jourSemaine().nom }}</b> <br> {{ jourSemaine().date }}</p>

        <button mat-raised-button (click)="
            vueAlternatifActiver.set(!vueAlternatifActiver()); 
            Alternatif()
        ">
            {{ vueAlternatifActiver() ? 'Normal' : 'Alternatif' }}
        </button>&nbsp;

        <button mat-raised-button (click)="OuvrirModalProgrammerLivraison()">
            Livraison
        </button>
    </mat-card-header>

    @if(vueAlternatifActiver())
    {
        @for (element of listeCommandeAlternatif(); track element.idPublic) 
        {
            <mat-card-content class="element">
                <p>
                    <b>Nom:</b> {{ element.nom }} <br>
                    <b>Quantité:</b> {{ element.quantite }}
                </p>
            </mat-card-content>
        }
    }
    @else 
    {
        @for (element of listeCommande(); track element.numero)
        {
            <mat-card-content class="element" (click)="ElementClicker(element)">
                <p>
                    <b>Nom:</b> {{ element.client == null ? "Interne" : element.client.nom }} <br>
                    <b>N°</b> {{ element.numero }} <br>
                    <b>Status:</b> {{ element.nomStatus }}
                </p>
    
                <ul style="padding-left: 25px;">
                    @for (element2 of element.listeProduit; track element2.idPublic) 
                    {
                        <li>{{ element2.nom }} X{{ element2.quantite }}</li>
                    }
                </ul>

                <div class="btnsAction">
                    @if(element.status != eStatusCommande.Valider)
                    {
                        <button mat-icon-button stop-propagation (click)="ValiderCommande(element.numero)">
                            <mat-icon>check_circle</mat-icon>
                        </button> 
                        <br>
                    }

                    @if(element.status != eStatusCommande.Annuler && element.status != eStatusCommande.Livrer)
                    {
                        <button mat-icon-button stop-propagation (click)="AnnulerCommande(element.numero)">
                            <mat-icon>clear</mat-icon>
                        </button>
                    }
                </div>
            </mat-card-content>
        }
    }

</mat-card>