<mat-toolbar id="navbar" color="primary">

  @if (EstConnecter()) 
  {
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  }

  <span>Boulangerie</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container 
  [hasBackdrop]="mdcBackdrop">

  <mat-drawer #drawer class="drawer" [mode]="drawerMode" [opened]="EstConnecter()">
    <mat-nav-list role="navigation">
      <a mat-list-item routerLink="produit" routerLinkActive="active">Produit</a>
      <a mat-list-item routerLink="ingredient" routerLinkActive="active">Ingredient</a>
      <a mat-list-item routerLink="categorie" routerLinkActive="active">Catégorie</a>
      <a mat-list-item routerLink="vehicule" routerLinkActive="active">Véhicule</a>
      <a mat-list-item routerLink="fournisseur" routerLinkActive="active">Fournisseur</a>
      <a mat-list-item>Client</a>
      <a mat-list-item>Employé</a>
      <a mat-list-item routerLink="planning" routerLinkActive="active">Planning</a>
      <a mat-list-item routerLink="livraison" routerLinkActive="active">Livraison</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content [class.open]="drawer.opened && drawerMode == 'push'" class="marginTopDrawer">
    <router-outlet />
  </mat-drawer-content>

</mat-drawer-container>

