<div style="text-align: center; margin-bottom: 10px;">
    <button mat-mini-fab (click)="Precedent()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    &nbsp;{{ dateJour().toLocaleDateString() }}&nbsp;

    <button mat-mini-fab (click)="Suivant()">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

</div>

@switch (mode()) 
{
    @case (eModeCalendrier.Jour) 
    {
        <app-calendrier-jour [dateJour]="dateJour()" [listeCommande]="listeCommande()" />
    }
    @default 
    {
        <app-calendrier-semaine [dateJour]="dateJour()" [listeCommande]="listeCommande()" />
    }
}