:root,
:host {
    --sys-background: #fff8f7;
    --sys-on-background: #22191b;
    --sys-surface: #fff8f7;
    --sys-surface-dim: #e7d6d8;
    --sys-surface-bright: #fff8f7;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #fff0f2;
    --sys-surface-container: #fbeaec;
    --sys-surface-container-high: #f5e4e6;
    --sys-surface-container-highest: #efdee1;
    --sys-on-surface: #22191b;
    --sys-surface-variant: #f3dde1;
    --sys-on-surface-variant: #514346;
    --sys-inverse-surface: #382e30;
    --sys-inverse-on-surface: #feedef;
    --sys-outline: #847376;
    --sys-outline-variant: #d6c2c5;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #8d4a5d;
    --sys-primary: #8d4a5d;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #ffd9e0;
    --sys-on-primary-container: #703345;
    --sys-inverse-primary: #ffb1c4;
    --sys-secondary: #8d4a5c;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #ffd9e0;
    --sys-on-secondary-container: #703345;
    --sys-tertiary: #865319;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #ffdcbe;
    --sys-on-tertiary-container: #693c01;
    --sys-error: #904a43;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdad5;
    --sys-on-error-container: #73342d;
    --sys-neutral: #817476;
    --sys-neutral-variant: #847376;
    --sys-primary-fixed: #ffd9e0;
    --sys-primary-fixed-dim: #ffb1c4;
    --sys-on-primary-fixed: #3a071a;
    --sys-on-primary-fixed-variant: #703345;
    --sys-secondary-fixed: #ffd9e0;
    --sys-secondary-fixed-dim: #ffb1c4;
    --sys-on-secondary-fixed: #3a071a;
    --sys-on-secondary-fixed-variant: #703345;
    --sys-tertiary-fixed: #ffdcbe;
    --sys-tertiary-fixed-dim: #fdb975;
    --sys-on-tertiary-fixed: #2d1600;
    --sys-on-tertiary-fixed-variant: #693c01;
    --sys-inverse-secondary: #ffb1c4;
    --sys-inverse-tertiary: #fdb975;
    --sys-inverse-error: #ffb4ab;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}