<h1>Livraisons pour vous</h1>

<mat-form-field class="mb-3">
    <mat-label>Choisir livraison</mat-label>
    <mat-select (valueChange)="LivraisonChoisi($event)">

        @for (element of listeLivraison(); track $index)
        {
            <mat-option value="{{ $index }}">
                {{ element.vehicule.nom }} ({{ element.vehicule.immatriculation }})
            </mat-option>
        }
    </mat-select>
</mat-form-field>

@for (element of livraison(); track $index) 
{
    <mat-card appearance="outlined" class="mb-2">
        <mat-card-header>
            <mat-card-title>Livraison n°{{ $index + 1 }}</mat-card-title>
            <mat-card-subtitle>{{ element.nomStatus }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <p>
                        <b>Numéro:</b> {{ element.numero }} <br>
                        <b>Client:</b> {{ element.client?.nom }} <br>
                        <b>Adresse:</b> {{ element.client?.adresse }} 
                    </p>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <p class="m-0"><b>Produits</b></p>
                    <ul style="margin: 0; padding: 0;">
                        @for (element2 of element.listeProduit; track element2.nom)
                        {
                            <li>{{ element2.nom }} (x{{ element2.quantite }})</li>
                        }
                    </ul>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions align="end">
            @if(element.client)
            {
                <button matButton="filled"
                        [cdkCopyToClipboard]="element.client.adresse" 
                        aria-label="Copier l'adresse" 
                        matTooltip="Copier l'adresse">
                    <mat-icon style="margin: 0">content_copy</mat-icon>
                </button>&nbsp;
            }

            <app-button (onClick)="LivraisonFaite(element)" 
                        [btnClicker]="btnClicker()" 
                        label="Livraison faite" />
        </mat-card-actions>
    </mat-card>
}
